@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand_fonts {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


*{
    max-width: 1440px;
    margin: 0 auto;
}

/* shared styles */
.display_flex{
    display: flex;
}

.black_button{
    font-family: "Quicksand", serif;
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: #111111;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}
.brown_button{

    font-family: "Quicksand", serif;
    width: 197px;
    height: 50px;
    padding: 10px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;

}


/* nav bar */


.logo_picture{
    width: 62px;
    height: 62px;
}
.navbar{
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center; */
    padding: 20px 0;

}
nav>div>h1{
    font-size: 32px;
    font-weight: 700;
    color: #111111;
}

.split{
    /* display: flex; */
    align-items: center;
}
.split>ul{
    /* display: flex; */
}
.split>ul>li{
    list-style: none;
    margin-right: 30px;
}
.split>ul>li>a{
    text-decoration: none;
    font-size: 20px;
}
.color_orange{
    color: #FEA301;
}
.color_sky_blue{
    color: #01ACFD;
}
.orange_bold{
    color: #FEA301;
    font-weight: 700;
}

.blue_medium_01{
    color: #01ACFD;
    font-weight: 500;
}

.blue_medium_02{
    color: #05D4DF;
    font-weight: 500;
}

.blue_medium_03{
    color: #5D58EF;
    font-weight: 500;
}


/* marquee */

.marquee_div{
    color: #5D58EF;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
    /* background-color: #; */
}


/* header */

.container{
    align-items: center;
    justify-content: space-between;
}
.container_items>h1{
    font-weight: 700;
    font-size: 56px;
    color: #111111;
}
.container_items>p{
    color: #111111;
    font-size: 20px;
    margin: 24px 0px;
}


/* standard_curriculum */
.standard_curriculum{
    background: url("pictures/bg.png");
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;

}

.standard_curriculum h1{

    color: #000000;
    font-weight: 700;
    font-size: 46px;
}


.card_holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;

    margin-top: 80px;
    margin-bottom: 80px;

}

.card{
    border-radius: 19px;
    border: 1px solid rgba(222, 245, 255, 1);
    justify-content: center;
    flex-direction: column;

    /* rgba(222, 245, 255, 1) */

    background: rgb(255,255,255);
    background: linear-gradient(00deg, rgba(255,255,255,1) 60%, rgba(222,245,255,1) 100%);

}
.card>img{
    margin-top: 52px;
}

.card>h3{
    margin-top: 32px;
    color: #202020;
    font-size: 24px;
    font-weight: 700;


}

.card>p{
    text-align: center;
    margin: 40px;
    color: #808080;
    font-size: 15px;
    font-weight: 500;
}

.card>a{
    color: #64C8FF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 58px;
}

.orange_gradient{

    border: 1px solid rgba(255, 244, 220, 1);
    background: rgb(255,255,255);
    background: linear-gradient(00deg, rgba(255,255,255,1) 60%, rgba(255, 244, 220, 1) 100%);
}
.purple_gradient{
    border: 1px solid rgba(242, 232, 255, 1);
    background: rgb(255,255,255);
    background: linear-gradient(00deg, rgba(255,255,255,1) 60%, rgba(242, 232, 255, 1) 100%);
}

.a_orange{
    color: #F0AA00;
}

.a_purple{
    color: #8700FF;
}

/* arrow */

.arrow_container{
    /* color: #FFFFFF; */
    font-size: 24px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 50%;
    margin-right: 10px;
}

.arrow_container>h1{
    color: #FFFFFF;
}

















